"workshopitem"
{
    "appid"           "{{APP_ID}}"
    "publishedfileid" "{{PUBLISHED_FILE_ID}}"
    "contentfolder"   "{{CONTENT_FOLDER}}"
    "changenote"      "{{CHANGE_NOTE}}"

    "tags"
    {
        "0" "all_clients_require_mod"
        "1" "character"
        "2" "item"
        "3" "tweak"
        "4" "utility"
        "5" "version:{{VERSION}}"
    }
}
